<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
  </head>
  <body>
    <h1>Details Garment</h1>
    <h2><%= garment.name %></h2>
    <ul>
      <li>Location: <%=garment.location %></li>
      <li>Contact: <%= garment.contact %></li>
    </ul>
    <h2>product</h2>
    <ul>
      <% for(let product of garment.products) { %>
      <li><a href="/products/<%= product._id %>"><%= product.name %> - <%= product.brand %></a></li>
      <% } %>
    </ul>
    <a href="/garments/<%= garment._id%>/products/create">Add Product</a>
    <a href="/garments">Back to All Garments</a>
    <a href="/garments/<%= garment._id%>/edit">Edit Garment</a>
    <form action="/garments/<%= garment._id %>?_method=DELETE" method="post">
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
