<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
  </head>
  <body>
    <h1>Details Product</h1>
    <h2><%= product.name%></h2>
    <ul>
      <li>Brand: <%=product.brand %></li>
      <li>Color: <%= product.color %></li>
      <li>Size: <%= product.size %></li>
      <li>Price: <%= product.price %></li>
    </ul>
    <a href="/products">Back to All Products</a>
  </body>
</html>
